.app-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.app-choice a {
    text-decoration: none;
}

.app-choice a:hover {
    text-decoration: underline;
    text-decoration-color: #5A0908;
}

.dark-mode.app-choice a:hover {
    text-decoration: underline;
    text-decoration-color: #FBE5BC;
}

.app-choice h1 {
    font-size: 4vw;
    margin: 2vw;
    font-weight: 400;
}

body {
    font-family: 'grenadine-mvb', sans-serif;
    background-color: #FBE5BC;
    color: black;
    transition: all 0.3s ease-out;
}

h1 {
    font-size: 8vw;
    margin: 0;
    font-style: normal;
    color: #5A0908;
}

.dark-mode h1 {
    color: #FBE5BC;
}

.prototype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#city {
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
}
#city {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  #city::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    animation: underline 5s linear infinite;
  }

  @keyframes underline {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

#analogue g {
    transform-origin: 50% 50%;
}
#analogue svg {
max-height: 65vh;
}

.dark-mode {
    transition: all 0.3s ease-out;
    background-color: #5A0908;
    color: white;
}

.dark-mode .hero .leaf_text path {
    
    transition: all 0.3s ease-out;
    fill: #FBE5BC;
}

.dark-mode .play {
    fill: #DDCE52;
}

.dark-mode .pause {
    fill: #CB001D;
}

.dark-mode .reset {
    fill: #FFCB00;
    stroke: #FFCB00;
}


input {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 2ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;}

.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    text-align: center;
    font-size: 7rem;
    font-weight: 300;
}

.stopwatch input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#watch_h {
    text-align: right;
}

#watch_m {
    text-align: center;
}

#watch_s {
    text-align: left;
}

#minutes {
    text-align: right;
}

#seconds {
    text-align: left;
}