body {
    font-family: 'grenadine-mvb', sans-serif;
    background-color: #FBE5BC;
    color: black;
    transition: all 0.3s ease-out;
}

#analogue g {
    transform-origin: 50% 50%;
}
#analogue svg {
max-height: 65vh;
}

.dark-mode {
    transition: all 0.3s ease-out;
    background-color: #5A0908;
    color: white;
}

.dark-mode .hero .leaf_text {
    
    transition: all 0.3s ease-out;
    fill: #FBE5BC;
}