#dark-mode-button {
    transform: rotate(330deg);
    cursor: pointer;
}

.buttonLeaf:hover {
    cursor: pointer;
    fill: #E39600;
}

.buttonLeaf.active {
  fill: #FDC209; /* Change this to the desired hover color */
  transition: fill 0.5s ease-in-out;
}

.button-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.button-alignment > button {
    position: relative;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.button-alignment > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button-alignment.prototype-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 5em;
}

#startTimer {
    padding-inline: 2em;
}

#stopTimer {
    padding-inline: 2em;
}